.with-icon {
  display: flex;
  align-items: center;
}

.informacion {
  margin-left: 10px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.sidenav-header {
  text-align: center;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
  }
}

.title {
  display: flex;
  justify-content: center;
  h3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
      sans-serif;
    font-weight: lighter;
    font-size: 2rem;
  }
}

.info-taxi-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
