@if(listaTransacciones){
<mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: WWW000" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!--Columna Placa-->
        <ng-container matColumnDef="placa">
            <th mat-header-cell *matHeaderCellDef> Placa </th>
            <td mat-cell *matCellDef="let row" (click)="redireccionar(row)">
                <div class="license-plate">{{row.placa}}</div>
            </td>
        </ng-container>

        <!-- Columna Tipo Transacciones-->
        <ng-container matColumnDef="tipo_transaccion">
            <th mat-header-cell *matHeaderCellDef> Tipo Transacción </th>
            <td mat-cell *matCellDef="let row" (click)="redireccionar(row)"> {{row.tipo_transaccion}}</td>
        </ng-container>


        <!-- Columna Valor -->
        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let row" (click)="redireccionar(row)">
                <h5 [ngClass]="row.valor > 0 ? 'badge text-bg-success' : 'badge text-bg-danger'">{{row.valor |
                    currency}}</h5>
            </td>
        </ng-container>

        <!-- Columna Valor -->
        <ng-container matColumnDef="estacion">
            <th mat-header-cell *matHeaderCellDef>Estación</th>
            <td mat-cell *matCellDef="let row" (click)="redireccionar(row)"> {{row.estacion}} </td>
        </ng-container>
        <!-- Columna timestamp -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let row" (click)="redireccionar(row)">  {{row.timestamp.toDate() | date:"dd/MM/yyyyHH:mm" }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!--Cuando no existe registros correspondientes al filtro-->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No un registro válido 🤔 "{{input.value}}"</td>
        </tr>
    </table>
</div>
} @else{
<div class="contenedor">
    <div class="center">
        <div class="custom-loader"></div>
    </div>
</div>
}